/* General layout */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney', sans-serif;
}

/* Header layout */
header{
    background-color: rgb(42,94,232);
    height:70px;
    padding:15px 5%;
}

header::after{
    content:"";
    clear:both;
    display: table;
}

/* Logo layouts */
header #logo{
    float:left;
    width:150px;
    height: 40px;
}

/* Navigation bar layout */
nav{
    float:left;
    width:85%;
    text-align: center;
    color: white;
    line-height: 40px;
}

nav ul li{
    display: inline;
    padding-right:70px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color:white;
}

nav ul li a:hover{
    text-decoration: underline;
}

.access{
    float:left;
    padding: 15px 0;
}

/* Buttons layout */
.buttons{
    text-align: center;
}

.button{
    border-radius:30px;
    padding:10px;
    text-decoration: none;
}

#white-button{
    background-color: white;
    color:black;
}

#blue-button{
    background-color:rgb(114,137,241);
    color:white;
}
#black-button{
    background-color: rgb(35, 39, 42);
    color:white;
    margin-left:30px;
}

.hovers:hover{
    box-shadow: -5px 5px 20px;
}

#white-button.hovers:hover{
    color:blue
}

/* Jumbo */
#jumbo{
    position: relative;
    background-image:url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
}

.jumbo-container{
    width:50%;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

/* Text layouts */
.jumbo-paragraph{
    color:white;
    text-align: center;
    font-size: 25px;
    padding-bottom: 40px;
}

.jumbo-title{
    color:white;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    padding-bottom:30px;
}
.section-title{
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    padding-bottom:30px;
    color:black; 
}

.section-text{
    text-align: left;
    font-size: 20px;
}

.bigger-section-paragraph{
    color:black;
    text-align: center;
    font-size: 20px;
}

.bigger-section-title{
    color:black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-bottom:30px;
}

.bigger-section-last-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding:33px 0 30px;
    max-width:540px;
    background-image: url(../img/stars.svg);
    background-size:contain;
    background-repeat: no-repeat;
    margin:0 auto;
}

/* Section layouts */
#grey-section{
    background-color: rgb(246,246,246);
    position: relative;
}

.bigger-section{
    min-height:100vh;
}

.container{
    margin:0 auto;
    max-width:1200px;
}

.container::after{
    content: "";
    clear: both;
    display: table;
}

.image-container{
    float:left;
    margin:130px 50px;
}

.text-container{
    float:left;
    margin-top: 160px;
    max-width:320px;
}

/* Button on bigger section layout */
#grey-section .jumbo-container a{
    position:absolute;
    padding:10px 20px;
    right:50%;
    transform: translateX(50%);
}

/* Footer layout */
footer{
    width:100%;
    padding:50px 10%;
    background-color: rgb(35, 39, 42);
}

footer ul{
    min-width: 10%;
    padding-right:10%;
}

footer section:first-child{
    min-height: 400px;
}

footer section:last-child{
    min-height: 100px;
}

/* Vertical navigations bar */
footer ul li a:hover{
    text-decoration: underline;
}

.cascade-menu{
    list-style-type: none;
    float:left;
}

.cascade-menu li a, .cascade-menu li{
    color:white;
    padding-bottom:10px;
    text-decoration: none;
}

.cascade-menu li:last-child{
    padding-bottom: 20px;
}

.socials{
    list-style-type: none;
}

.socials li{
    color:white;
    display: inline;
    padding-right:5px;
}

#cascade-title{
    color:rgb(114,137,241);
    font-size: 25px;
    font-weight: bold;
    max-width: 200px;
    padding-bottom:10px;
}

footer section::after{
    clear:both;
    display: table;
}

/* Footer button */
footer section #blue-button{
    float:right;
    margin-top:30px;
}

/* Footer logo */
footer #logo{
    float:left;
    width:150px;
    height: 40px;
    margin:30px 0;
}